nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img{
    width: 150px;
    height: 50px;
}
.box ul{
    display: flex;
    gap: 50px;
}
.box ul li{
    list-style: none;
}
/* main{
    width: 50vw;
    height:auto;
    margin: auto;
} */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    /* margin: auto;
    width: 50vw; */
}
   
#heading{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heading2{
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    width: 60vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#heading3{
    font-weight: 1000;
}
button{
    width: 282px;
    height: 45px;
    border-radius: 6px;
    background-color: rgb(99, 213, 239);
    border: 2px solid white;
    color: white;
    font-size: 12px;
}