nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img{
    width: 150px;
    height: 50px;
}
.box ul{
    display: flex;
    gap: 50px;
}
.box ul li{
    list-style: none;
}
main{
    width: 50vw;
    height:auto;
    margin: auto;
}
.content{
    text-align: center;
}
#imp{
    padding-top: 20px;
    font-size: 30px;
}
#imp2{
    font-size: 20px;
} 
button{
    border-radius: 2px;
}